body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

* {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fff;
    padding: 20px;
    cursor: pointer;
}

.App-header h2 {
    margin: 0;
}

.spinner {
    height: 80px;
    margin: auto;
}

.App-intro {
    font-size: large;
}

.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-movies {
    text-align: center;
}

.add-movies button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
}

.movie {
    padding: 5px 25px 10px 25px;
    max-width: 25%;
}

.errorMessage {
    margin: auto;
    font-weight: bold;
    color: #a10f0f;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.search > input[type="text"] {
    width: 40%;
    max-width: 170px;
}

input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #282c34;
    color: #faebd7;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
    .movie {
        max-width: 33%;
    }
}

@media screen and (min-width: 652px) and (max-width:693px) {
    .movie {
        max-width: 50%;
    }
}

@media screen and (max-width: 651px) {
    .movie {
        max-width: 100%;
        margin: auto;
    }
}